/* Login Styles */

.loginDockbar {
    background-color: dimgray;
    border-color: dimgray;
}
/*Fonts*/
.font_color_white_small{
    color: ghostwhite;
    font-size: small;
}
.font_color_black_large{
    color: #000000 ;
    font-size: large;
}
.font_color_gray_bold_large{
    color:#5d5d5d;
    font-size: large;
    font-weight: bold;
}

.pt_BR {
  background-image:url('../img/pt_BR.png') !important;
}
.en{
  background-image:url('../img/en.png') !important;
}

.es {
  background-image:url('../img/es.png') !important;
}
.key {
  background-image:url('../img/login_24.png') !important;
}
.cancel_24 {
  background-image:url('../img/cancel_24.png') !important;
}
.cancel_16 {
  background-image:url('../img/cancel_16.png') !important;
}
.submit_16{
  background-image:url('../img/submit_16.png') !important;
}
.capslock{
    background:url('../img/warning_24.png') no-repeat center left;
    padding:2px;
    padding-left:20px;
    font-weight:700;
}

/*Custom Buttons*/
.blue_button {
    background: #1b376c !important;
    color: #ffffff;
    height: 30px;
    font-size: 16px;
    padding: 2.5px 8px 2.5px 8px;
    font-weight: bold;
    cursor: pointer;

}
.logout_24 {
  background-image:url('../img/logout_24.png') !important;
}
#titleHeader {
    color:#000;
    font-size:20px;
    font-weight:bold;
    font-family:'Lucida Grande', Arial, Sans;
}