/* Login Styles */
.default_background{
    background-color: #e0e0e0 !important;
}
.loginDockbar {
    background-color: dimgray;
    border-color: dimgray;
}
/*Fonts*/
.font_color_white_small{
    color: ghostwhite;
    font-size: small;
}
.font_color_black_large{
    color: #000000 ;
    font-size: large;
}
.font_color_gray_bold_large{
    color:#5d5d5d;
    font-size: large;
    font-weight: bold;
}

.pt_BR {
    background-image:url('../img/pt_BR.png') !important;
}
.en{
    background-image:url('../img/en.png') !important;
}

.es {
    background-image:url('../img/es.png') !important;
}
.key {
    background-image:url('../img/login_24.png') !important;
}
.submit_16{
    background-image:url('../img/submit_16.png') !important;
}
.profile_16{
    background-image:url('../img/profile_16.png') !important
}
.profile_32{
    background-image:url('../img/profile_32.png') !important
}
.logout_16{
    background-image:url('../img/logout_16.png') !important
}
.close_32{
    background-image:url('../img/close_32.png') !important
}
.menu_16{
    background-image:url('../img/menu_16.png') !important
}
.home_16{
    background-image:url('../img/home_16.png') !important
}
.config_16{
    background-image:url('../img/config_16.png') !important
}
.users_32{
    background-image:url('../img/users_32.png') !important
}

.ticket_32{
    background-image:url('../img/ticket_32.png') !important
}
.add_16{
    background-image:url('../img/add_16.png') !important
}
.add_24{
    background-image:url('../img/add_24.png') !important
}
.add_32{
    background-image:url('../img/add_32.png') !important
}
.delete_16{
    background-image:url('../img/delete_16.png') !important
}
.delete_24{
    background-image:url('../img/delete_24.png') !important
}
.delete_32{
    background-image:url('../img/delete_32.png') !important
}
.edit_16{
    background-image:url('../img/edit_16.png') !important
}
.edit_24{
    background-image:url('../img/edit_24.png') !important
}
.edit_32{
    background-image:url('../img/edit_32.png') !important
}
.search_16{
    background-image:url('../img/search_16.png') !important
}
.search_24{
    background-image:url('../img/search_24.png') !important
}
.search_32{
    background-image:url('../img/search_32.png') !important
}

.save_16{
    background-image:url('../img/save_16.png') !important
}
.save_24{
    background-image:url('../img/save_24.png') !important
}
.save_32{
    background-image:url('../img/save_32.png') !important
}

.cancel_16{
    background-image:url('../img/cancel_16.png') !important
}
.cancel_24{
    background-image:url('../img/cancel_24.png') !important
}
.cancel_32{
    background-image:url('../img/cancel_32.png') !important
}

.category_16{
    background-image:url('../img/category_16.png') !important
}
.category_24{
    background-image:url('../img/category_24.png') !important
}
.category_32{
    background-image:url('../img/category_32.png') !important
}

.filter_clear_16{
    background-image:url('../img/filter_clear_16.png') !important
}
.filter_clear_24{
    background-image:url('../img/filter_clear_24.png') !important
}
.filter_clear_32{
    background-image:url('../img/filter_clear_32.png') !important
}
.capslock{
    background:url('../img/warning_24.png') no-repeat center left;
    padding:2px;
    padding-left:20px;
    font-weight:700;
}


.logout_24 {
    background-image:url('../img/logout_24.png') !important;
}
#titleHeader {
    color:#000;
    font-size:20px;
    font-weight:bold;
    font-family:'Lucida Grande', Arial, Sans;
}
/*Custom Buttons*/
.tab-button{
    display:inline-block;
    text-align:center !important;
    height:35px;
    width:86px;
    text-decoration:none !important;
    color:#777777;
    font-family:Arial !important;
    font-size:12px !important;
    font-weight:bold !important;
    font-style:normal !important;
    line-height:40px;
    text-indent:0;

    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d1d1d1), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #d1d1d1 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#dfdfdf');
    background-color:#d1d1d1;
    -webkit-border-top-left-radius:15px;
    -moz-border-radius-topleft:15px;
    border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    -moz-border-radius-topright:15px;
    border-top-right-radius:15px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #d1d1d1;
}
.tab-button-pressed{
    -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
    background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    background-color:#3d94f6;
    -webkit-border-top-left-radius:15px;
    -moz-border-radius-topleft:15px;
    border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    -moz-border-radius-topright:15px;
    border-top-right-radius:15px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    border:1px solid #337fed;
    color:#ffffff !important;

}
.tab-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #d1d1d1) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #d1d1d1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#d1d1d1');
    background-color:#dfdfdf;
    cursor: pointer;
}
.tab-button-pressed:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
    background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
    background-color:#1e62d0;
    cursor: pointer;
}



.blue_button {
    background: #1b376c !important;
    height: 30px;
    padding: 2.5px 8px 2.5px 8px;

}
.blue_button .x-btn-inner{
    color: #ffffff !important;
    font-size: 16px;
    font-weight: bold;
}
.blue_button:hover {
    background: #1b376c !important;
    height: 30px;
    padding: 2.5px 8px 2.5px 8px;

}
.sidemenu-button{
    border-style: none !important;
    background: transparent !important;
    background-color: #e0e0e0 !important;
    background-image: none !important;
}
.sidemenu-button .x-btn-inner{
    text-align: left !important;
    font-size: 14px !important;
    font-weight: bold !important;
}
.sidemenu-button:hover,.x-btn-sidemenu-button-pressed {
    background-color: #ffffff !important;
    border-style: none !important;

}
.invalid_field_without_underline {
    background-image: none;
}

.x-action-col-cell img {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.ticket-grid {
    margin:0px;
    padding:5px;
    width:100%;
}.ticket-grid table{
    border-collapse: separate;
    border-spacing: 0;
    width:100%;
    margin:0px;
    padding:0px;
}

.ascending{
    background-image: url('../img/sort_asc.gif');
}
.descending{
    background-image: url('../img/sort_desc.gif');
}
.ticket-grid tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.ticket-grid table tr:first-child td:first-child {
    -moz-border-radius-topleft:2px;
    -webkit-border-top-left-radius:2px;
    border-top-left-radius:0px;
}
.ticket-grid table th:first-child  {
    -moz-border-radius-topleft:10px;
    -webkit-border-top-left-radius:10px;
    border-top-left-radius:10px;
}
.ticket-grid tr:last-child th:last-child{
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px;
}
.ticket-grid tr:hover{
    background-color:#d3e9ff;

}
.ticket-grid td > span:hover{
    cursor:pointer;
    text-decoration: underline;

}



.ticket-grid td{
    vertical-align:middle;

    border:1px solid #EBECEB;
    border-width:0px 0px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:12px;
    font-family:lsans,"Lucida Sans","Lucida Grande",Lucida,"Lucida Sans Unicode",sans-serif;
    font-weight:normal;
    color:#000000;
}
.ticket-grid th{
    background-color:#EBECEB;
    border:0px solid #000000;
    text-align: left;
    font-size:12px;
    height: 30px;
    padding: 5px;
    font-family:Arial;
    font-weight:bold;
    background-repeat: no-repeat;
    background-position: center right;


}
.ticket-grid th:hover{
    background-color:#d3e9ff;
    cursor: pointer;
}
.ticket-grid tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.ticket-grid-paging{
    background-color: #EBECEB;
    width: 100%;
    overflow: hidden;
    font-family:Arial;
    font-weight:bold;
    height: 20px;
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px;
    padding: 2px 5px 2px 5px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px;
}
.ticket-grid-paging img{
    cursor: pointer;
}
.no-hover-pointer:hover{
    cursor: default;
}

.tooltip{
    margin:8px;
    padding:8px;
    border:1px solid black;
    background-color: #e0e0e0;
    position: absolute;
    z-index: 2;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    box-shadow: 10px 10px 50px #888888;
}
.inner_search_icon_textfield
{ 
    background: url('../img/search_16.png') no-repeat 2 2 !important;
    padding-left: 20px !important;
}
.add_ticket{
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(238, 238, 238)), to(rgb(204, 204, 204)));
    border-color: #BBB #BBB #999;
    border-style: solid;
    border-width: 1px;
}
.add_ticket .x-btn-inner{
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.add_ticket:hover{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#bbbbbb));
    border-color: #BBB #BBB #999;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-shadow: 0 1px 0 #DDD;
    text-decoration: none;
}
.html_success_message{
    padding: 10px 0 10px 3px;
    background: #defbd5;
    border: 1px solid #caeaaf;
    display: block;
    font-size: 12px;
    font-weight: bold;

}
.html_failure_message{
    padding: 10px 0 10px 3px;
    background: #d87166;
    border: 1px solid #d87166;
    display: block;
    font-size: 12px;
    font-weight: bold;
}



